/*B*/

/*E*/
body,html{
	/* height: 1000px; */
	/* font-family: STXihei, "Microsoft YaHei"; */
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #333;
	font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 16px ;
	font-weight: 400;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	overflow:hidden; 
	background-color: #59c996;

}
a{
	color: #0070c9;
	text-decoration: none;
}
pre{
	word-wrap: normal;
}
/*B loading层*/
#loading{
	display: none;
	position: absolute;
	margin-left: 50%;
	top:-40px;
	width: 30px;
	height: 30px;
	transform: translateX(-50%);
	z-index: 10;
	background-color: #fff;
	border-radius: 100%;
	box-shadow:1px 2px 4px rgba(0,0,0,.4);
	opacity: 0.9;
}
#loading .fa{
	color: #59c996;
}
.loading-animation{
	display: flex !important;
	animation: loading-animation 1.5s ease-in-out 1;
}
/* #loading-animation{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 100%;
	border: a;
} */
/*E loading层*/
/*B 提示层*/
#common-tips{
	display: none;
	position: absolute;
	padding: 10px 40px;
	margin-left: 50%;
	top:35%;
	/* width: 30px; */
	/* height: 40px; */
	color: #fff;
	transform: translateX(-50%);
	background-color: #59c996;
	/* background: linear-gradient(90deg, #000, #59c996); */

	border-radius: 6px;
	box-shadow:1px 2px 4px rgba(0,0,0,.4);
	opacity: 0.95;
	z-index: 10;
}
.tips-animation{
	display: block !important;
	animation: tips-animation 1.5s ease-in-out 1;
}
/*E 提示层*/


/*B 第一屏*/
#page1{
	position: absolute;
	box-sizing: border-box;
	padding:0 16px;
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;
	padding-bottom: 50px;
	overflow-y: scroll;
}
#p1-dormitory{
	margin-top: 20px;
	box-sizing: border-box;
	/* padding: 0 10px; */
	z-index: 1;
	border-radius: 12px;
}
#p1-payment{
	margin-top: 10px;
	box-sizing: border-box;
	/* padding: 0 10px; */
	z-index: 1;
	border-radius: 12px;
}
#page1::-webkit-scrollbar {display:none}
/* #p1-header .wrap{
	position: absolute;
	height: 35%;
	width: 100%;
	z-index: -2;
	background-color: #e7f2fd;
} */
#p1-header{
	width: 100%;
	height: 38%;
  	/* background-color: #20293a; */
  	font-size: 16px;
  	font-weight: 300;
  	line-height: 1.5;
  	color: #444;
	/* background-color: #55a2f0; */
	/* z-index: -1; */
}

#p1-animation{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 20px; */
	width: 175px;
	height: 175px;
	/* background-color: #fff; */
	/* background-color: #e7f2fd; */
	
	/* font-family: STXihei, "Microsoft YaHei"; */
	/* color: #555; */
	color: #eee;
	border-radius: 50%;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.5;
	/* letter-spacing:4px; */
	text-align: center;
	animation: text 10s ease infinite;
	/* box-shadow:1px 2px 10px rgba(0,0,0,.2); */
	z-index: 1;
}
#p1-animation::after {
  	box-sizing: border-box;
	outline: none;
	position: absolute;
	content: "";
	top: -5%;
	left: -20%;
	right: 10px;
	z-index:-1;
	height: 120%;
	width: 120%;
	margin: 0 auto;
	transform: scale(0.85);
	filter: blur(30px);
	color: #444;
	background: linear-gradient(270deg, #fff,  #f60, #60f,#0f0);
	background-size: 150% 150%;
	border-radius: 30%;
	animation: glowmation 9s linear infinite;
  }
#p1-animation .wordart1 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	font-size: 18px;
}
#p1-animation .wordart2 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	font-size: 75px;
	/* opacity: 0.8; */
}
#p1-animation .wordart3 {
	position: absolute;
	top: 16%;
	left: 0;
	right: 0;
	font-size: 16px;
	/* opacity: 0.1; */
}
#p1-animation .wordart4 {
	font-family: 'STXihei';
	letter-spacing: 8px;
	font-weight: normal;
	font-size: 58px;
}
#p1-animation .fa-spinner{
	font-size: 20px;
}
#p1-animation .wordart4 .fa-spinner {
/* 	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: auto;
	height: auto; */
}
#p1-animation .wordart4 .fa-spinner::before{
	/* width: auto;
	height: auto; */
}
/*B 下部数据展示*/
.p-title{
	display: flex;
	padding: 0 10px;
	box-sizing: border-box;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 30px;
	color: #333;
	/* background-image: linear-gradient(rgb(164, 164, 164), rgb(204, 204, 204)); */
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 1px solid #eee;
}
.p-title span{
	font-size: 17px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}


#page1 .p-section , #page1 .p-section-clickable{
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 10px;
	height: 35px;
	color: #333;
}
#page1 .section-container::after{
	display: none;
}
.p-section span:nth-of-type(1) , .p-section-clickable span:nth-of-type(1){
}
.p-section span:nth-of-type(2) , .p-section-clickable span:nth-of-type(2){
	color: #7F7F7F;
}
.p-section{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.p-section-clickable .fa-angle-right{
	color: #999;
}
.p-section-clickable .select{
	height: 100%;
	color: #59c996;
}
.p-section-clickable .select::after{
	margin-left: 6px;
	padding: 0 6px;
	content: '切换';
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	line-height:23px;
	vertical-align: center;
	background-color: #59c996;
	border-radius: 12px;
	box-shadow:0px 1px 4px rgba(0,0,0,.3);
}
/*E 下部数据展示*/

/*E 第一屏*/

/*B 底部导航*/
#main-bar{
	position: fixed;
	display: flex;
	justify-content: space-around;
    align-items: center;
	height: 50px;
	width: 100%;
	bottom: 0;
	/* color: #9a9a9a; */
	color: #333;
	background-color: #f7f7f7;
	/* background-color: #f6f7f8; */
	box-shadow:0px 1px 4px rgba(0,0,0,.3);
	z-index: 99;
}
#main-bar .wrap{
	z-index: 1;
}
.main-bar-section{
	display: flex;
	flex-direction: column;
 	justify-content: center;
	height: 100%;
	width: 100%;
	font-size: 12px;
}
.main-bar-section .fa{
	display: inline-block;
	font-size: 20px ;
	margin-top: 8px;
	margin-bottom: 8px;
}
.animation.fa{
	animation: transform-size 0.15s ease-in-out 1;
}
#main-bar .active{
	color: #59c996;
}
/*E 底部导航*/

/*B 第二屏*/
#page2{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;
	background-color: #fff;
	padding-bottom: 50px;
	overflow-y: scroll;
}
#p2-presentation{
	/* width: 375px;
	height: 500px; */
}
.p2-inform{
	width: 90%;
}
/*E 第二屏*/

/*B 第三屏*/
#page3{
	display: none;
	box-sizing: border-box;
	position: absolute;
	padding: 0 0 50px 0;
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;
	background-color: #eaeaea;
	overflow-y: scroll;
	overflow-x: hidden;
}
#page3 .section-container{
	/* margin-top: 10px; */
	height: 60px;
	border-radius: 0;
	opacity: 1;
	padding: 0 4% 0 4%;
	box-shadow: none;
}
#page3 .p-section-clickable{
	overflow: visible;
}
#page3 #login{
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	height: 85px;
	color: #333;
	letter-spacing: 3px;
}
#page3 .config{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 0 15px 0 15px;
	height: 60px;
	letter-spacing: 2px;
	/* background-color: #59c996; */
}
#page3 #p3-NITPayment{
	height: 60px;
}
#page3 #p3-about::after{
	display: none;
}
#page3 .config .button-dropdown-list{
	border-radius: 0;
}
#page3 .config .button{
	background-color: #fff;
	border-radius: 0;
}
#page3 .config .wrap{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;	
}

#page3 .config .wrap span:nth-of-type(2) {
	font-size: 12px;
}
.config .groove{
	display: flex;
	
	align-items: center;
	padding: 0 2px;
	width: 40px;
	height: 20px;
	/* background-color: red; */
	border: 1px solid #7f7f7f;
	border-radius: 12px;
}
.groove.on{
	/* justify-content: flex-end;
	-ms-align-items: center; */
}
.groove.on .config-button{
	background-color: #59c996;
	transform: translateX(22px);

}
.config-button{
	width: 16px;
	height: 16px;
	background-color: #ededed;
	border-radius: 50%;
	border: 1px solid #eee;
	transition-duration: 0.4s;
	/* box-shadow:1px 1px 2px rgba(0,0,0,.2); */
}
#login .wordart1{
	display: block;
	color: #333;
	font-size: 14px;
}
#login .wordart2{
	font-size: 12px;
}

/*E 第三屏*/

/*B 工具类*/
.on{

}
.off{

}
.wrap{
	width: 100%;
	height: 100%;
}
.center{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.top{
	display: block !important;
	z-index: 9;
}
.wordart1 {

}
.wordart2 {

}
.wordart3 {

}
.wordart4 {

}
.box{

}
.color-7f{
	color: #7f7f7f;
}
.normal-font{
	color: #fff !important;
	font-size: 18px !important;
}
.active{

}
.back-btn{

}
.mask{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	opacity: 0.9;
	background-color: #333;
	z-index: -1;
}
.pull-box{
	/* display: none; */
	position: relative;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;
	z-index: 999;
	transform: translateY(100%);
	transition-duration: 0.6s;
	overflow:hidden;
}
.pull-box .panel{
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#faf7f8;
	z-index: 1;
	/* border-radius: 12px; */
	box-shadow:1px 2px 10px rgba(0,0,0,.5);

}
.panel .close-btn{
	position: absolute;
	margin-left: 50%;
	width: 35px; 
	height: 35px;
	bottom: 15px;
	background-color: #eee;
	border-radius: 50%;
	transform: translateX(-50%);
	box-shadow:1px 1px 4px rgba(0,0,0,.5);
}
.panel .close-btn:active{
	background-color: #59c996;
	color: #fff;
}

/* B 通用组件 */
.section-container {
	position: relative;
	background-color: #fff;
	border-radius: 12px;
	box-shadow:2px 3px 6px rgba(0,0,0,.1);
	overflow: hidden;
	opacity: 0.9;
	/* border-bottom: 1px solid #eee; */
}
.section-container::after{
	position: absolute;
	bottom: 0px;
	content: '';
	height: 1px;
	width: 100%;
	background-color: #ccc;
}
.section-container .wrap{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.section-container .wordart1{
	margin-bottom: 8px;
	letter-spacing: 1px;
}
span.subhead {
	font-size: 12px;
	color: #7f7f7f;
	letter-spacing: 2px;
}
.section-container .fa-angle-right{
	margin-left: 10px;
	font-size: 24px;
}

.p-section-clickable{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.p-section-clickable:active{
	background-color: #efefef;
    -webkit-tap-highlight-color: transparent;
}
/* E 通用组件 */

/*B 登陆拉取*/
#p-page2{
}
#p-page2 .close-btn{
    transform: translateX(-100%);
}
#p-page2 .panel{
	box-sizing: border-box;
	background-color: #eaeaea;
	padding: 10px 16px;
}
.common-input{
	box-sizing: border-box;
	padding: 0 6px;
	width: 100%;
	height: 40px;
	border: none;
	font-size: 18px;
	color: #d1d1d2;
	border-radius: 6px;
	box-shadow:1px 1px 2px rgba(0,0,0,.2) inset;
}
.common-input:focus{
	 /* outline: 2px solid rgba(89,201,150,0.5); */
	 outline: none;
	 box-shadow: 0 0 0 2px rgba(89,201,150,0.5);;

}
.common-button{
	margin-top: 10px;
	height: 40px;
	width: 100%;
	color: #fff;
	letter-spacing: 2px;
	background-color: #59c996;
	background: linear-gradient( #59c9a6, #59c996);
	border-radius: 6px;
	box-shadow:1px 1px 2px rgba(0,0,0,.2);
}

.common-button:active{
	background:linear-gradient(to bottom, #34b895, #59c996);
	-webkit-tap-highlight-color:transparent;
	box-shadow:0 0 6px 0px rgba(0,0,0,.4) inset;
}
.common-message{
	margin-top: 10px;
	width: 100%;
	color: #818181;
	font-size: 14px;
}
/*E 登陆拉取*/

/*E 工具类*/


/*B 关于，拉取*/
#p-page3 .panel{
	box-sizing: border-box;
	background-color: #eaeaea;
	/* padding: 10px 16px; */
}
#p-page3 img:nth-of-type(1){
	display: block;
	margin: -110px auto;
	height: 320px;
}
#p-page3 .wordart1{
	display: block;
	margin-bottom: 20px;
	text-align: center;
	margin: 0 auto: ;
	letter-spacing: 1px;
	color: #7f7f7f;
}
#p-page3 .column{
	margin-bottom: 15px;
}
/*E 关于，拉取*/

/*B 动画*/

@keyframes glowmation {
  0% {
    top: -3%;
    left: -3%;
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
  12.5% {
    top: -3%;
    left: 0;
    background-size: 70% 30%;
  }
  25% {
    top: -3%;
    left: 3%;
    background-size: 100% 50%;
  }
  37.5% {
    top: 0;
    left: 3%;
    background-size: 70% 30%;
  }
  50% {
    top: 3%;
    left: 3%;
    background-position: 100% 50%;
    background-size: 30% 30%;
  }
  62.5% {
    top: 3%;
    left: 0;
    background-size: 30% 70%;
  }
  75% {
    top: 3%;
    left: -3%;
    background-size: 50% 100%;
  }
  87.5% {
    top: 0;
    left: -3%;
    background-size: 30% 70%;
  }
  100% {
    top: -3%;
    left: -3%;
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
}
 @keyframes text {
  
  0% {
  	opacity: 1;
  }
  50%{
	opacity: 0.7;
  }
  90% {
  	opacity: 1;
  }
} 

 @keyframes transform-size {
  0% {
  	font-size: 14px;
  }
  100% {
  	font-size: 20px;
  }
} 

@keyframes loading-animation {
  0% {
  	opacity: 0.1;
  	top: 75px;
  }
  50% {
  	opacity: 0.9;
  	top: 75px;
  }
  70% {
  	top: 75px;
  	opacity: 0.9;
  }
  100% {
  	top: -34px;
  	opacity: 0;
  }
} 

@keyframes tips-animation {
  0% {
  	opacity: 0.3;
  	top: 35%;
  }
  70% {
  	opacity: 0.9;
  	top: 35%;
  }
  100% {
  	top: -10%;
  	opacity: 0;
  }
} 
/*E 动画*/

//测试

